run.bat
data_*/
7z.exe
assets/
*.apk
*.ipa
dist
enc
dec
data
.vscode
.luarc.json
.run.ps1
Angry Birds.gdf
AngryBirds.py
angry-birds-love2d.code-workspace
autoenc.ini
bi_data.lua
BuildRUnCode.ps1
changes.txt
config.lua
DSOUND.dll
game.ico
grgl-md.dll
grgl1-md.dll
highscores.lua
icon.ico
license.txt
love.dll
love.exe
love.ico
lovec.exe
lua51.dll
msvcp100.dll
msvcp140_1.dll
msvcp140_2.dll
msvcp140_atomic_wait.dll
msvcp140_codecvt_ids.dll
msvcp140.dll
msvcr100.dll
OpenAL32.dll
readme.txt
SDL3.dll
settings.lua
slingTutorial.md
vcruntime140.dll
vcruntime140_1.dll